header{
    height: 70px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: #000000;
    padding: 0 20px 0 20px;
}
header h1{
    align-self: center;
    color: #fff;
}
header .menu{
    display: flex;
    align-self: center;
    font-size: 18px;
    font-weight: 600;
    gap: 40px;
}
header .menu a{
    text-decoration: none;
    color: #909090;
    font-weight: 800;
}
.container{
    justify-self: center;
    max-width: 1200px;
}
.container h2{
    text-align: center;
}
.container p{
    text-indent: 1.25cm;
    text-align: justify;
}
h3, h4{
    text-align: center;
}
footer{
    max-width: 500px;
    width: 100%;
    justify-self: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-bottom: 5px;
    border-top:  solid 1px;
    border-image: linear-gradient(to right, rgba(0,0,0,0), #000, rgba(0,0,0,0)) 1;
}
footer p{
    font-size: 12px;
}
footer h4{
    padding: 5px;
}